%footer.bt.b--black-10.bg-white.ph3.ph5-ns.pv5.pv6-ns.w-100
  .mw9.center.black-70
    %nav.mb4.b
      %ul.ma0.pa0
        %li.dib.mr1.mr3-m.mr4-l
          = link_to "Docs", page_path("docs"), class: "link black-70 dim"
        %li.dib.mr1.mr3-m.mr4-l
          = link_to "FAQ", page_path("faq"), class: "link black-70 dim"
        %li.dib.mr1.mr3-m.mr4-l
          = link_to "Source Code", "https://github.com/aergonaut/cody", class: "link black-70 dim"

    %p.f6.measure.lh-copy
      Cody is made by
      = link_to "@aergonaut", "https://twitter.com/aergonaut", class: "link b black-70 dim"
      with love and care in Mountain View, CA.

    %p.f6.measure.lh-copy
      &copy MMXVI
