%header.w-100.pa3.ph5-ns.bg-white
  .dt.mw9.center.w-100
    .dtc.v-mid.tl.w-50
      = link_to "Cody", root_path, class: "dib f5 f4-ns fw6 mt0 mb1 link black dim"
    %nav.db.dtc.v-mid.w-100.tr
      %ul.ma0
        %li.dib.f6.fw6.ml1.ml3-m.ml4-l
          = link_to "Docs", page_path("docs"), class: "link black dim"
        %li.dib.f6.fw6.ml1.ml3-m.ml4-l
          = link_to "FAQ", page_path("faq"), class: "link black dim"
        %li.dib.f6.fw6.ml1.ml3-m.ml4-l.dn
          = link_to "Login", "#", class: "link black dim"
